{% extends 'templates/_base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="navbar navbar-default top-menu hidden-xs">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="" class="navbar-brand">WWP</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#"><i class="fa fa-envelope-o fa-top-menu" aria-hidden="true"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="navbar-text">Вы вошли как, {{ user.last_name }}</div>
                </li>
                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-top-menu"></i></a></li>
            </ul>

        </div>
    </div>
    <div class="row">
        <div class="side-menu">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <div class="brand-wrapper">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Меню</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#" class="hidden-lg hidden-md hidden-sm button-exit"><i
                                class="fa fa-sign-out fa-top-menu"></i></a>
                    </div>
                </div>
                <div class="side-menu-container">
                    {% include "Profile/sidebar.html" %}
                </div>
            </nav>
        </div>
    </div>
    <!--Content-->
    <div class="container-fluid">
        <div class="side-body">
            {% block side-content %}
            {% endblock %}
        </div>
    </div>
    <!--Content-->


{% endblock %}
{% block user_scripts %}
    <script src="{% static 'Task/js/show_modal.js' %}"></script>
{% endblock %}