<form method="post" action="{% url 'first_access' %}">
    {% csrf_token %}
    <div>
        Pls, change these settings:
        <div>
            <label for="fa_login"></label>
            {{ first_access_form.fa_login }}
        </div>
        <div>
            <label for="fa_password"></label>
            {{ first_access_form.fa_password }}
        </div>
        <div>
            <label for="fa_confirm_password"></label>
            {{ first_access_form.fa_confirm_password }}
        </div>
    </div>
    <button type="submit">ГО ></button>
</form>